.pirveliRagac {
  height: 400px;
  padding-top: 50px;
  margin-left: 10px;
}
.meoreRagac {
  height: 400px;
  //padding-top: 50px;
  margin-right: 10px;
}

.mapdiv {
  height: 1200px;
  width: 2000px;
}

.mapdiv path {
  fill: rgb(0, 137, 201);
  stroke: #d6d7ff;
  transition: fill 0.5s;
}

.mapdiv path:hover {
  fill: rgb(76, 0, 255);
}

#AbkhaziaOccupiedByRussia {
  cursor: not-allowed;
}

title {
  color: red;
  background-color: blue;
}

.label {
  font-size: 16px;
  font-weight: bold;
  fill: red;
  z-index: 120;
}

.FontForChartTitles {
  font-size: 18px;
  line-height: 24px;
  color: #3d3d3e;
  padding-bottom: 30px;
  text-align: left;
}

.fontForCheckboxesTitle {
  font-family: "FiraGO";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  font-variant: small-caps;
  color: #929497;
  margin-top: -14px;
  margin-left: 75px;
}

.fontForCheckboxes {
  font-family: "FiraGO";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  font-variant: small-caps;
  padding-left: 12px;
  color: #3d3d3e;
}

.contForLg9 {
  width: 99%;
  height: 104%;
  background: #ffffff;
  box-shadow: 0px 4px 50px 5px rgba(0, 0, 0, 0.06);
  border-radius: 20px;
}

.stur {
  color: #3d3d3e;
  font-size: 24px;
  padding-top: 20px;
}

.positioning-chart2 {
  width: 90%;
  height: 90%;
  padding-left: 66px;
}

.conts {
  height: 326px;
  background: #ffffff;

  box-shadow: 0px 4px 50px 5px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
}

.inputPosition {
  padding-left: 29px;
  padding-top: 11px;
}

.contForRegions {
  box-sizing: border-box;
  width: 83%;
  height: 70%;
  background: #ffffff;
  border: 1px solid #5c4fc9;
  border-radius: 20px;
}

.contForindicators {
  margin-bottom: 32px;
  box-sizing: border-box;
  width: 83%;
  height: 21%;
  background: #ffffff;
  border: 1px solid #5c4fc9;
  border-radius: 20px;
}

.firstImgPositionForInputs {
  padding-top: 30px;
  padding-left: 30px;
}

.firstForRegions {
  padding-left: 29px;
  padding-top: 25px;
}

.positionForFirstIndicatorsInput {
  padding-left: 29px;
  padding-top: 15px;
}

.secondIndicPosition {
  padding-left: 29px;
  padding-top: 0px;
}

.pad {
  padding-left: 12px;
}

.pad2 {
  margin-top: -20px;
  margin-left: 75px;
}

.hund {
  height: 100%;
  width: 100%;
}

.defHeight {
  height: 150px;
}

.backgroundImg {
  background-image: url("../../../assets/ht-default-indicators/Backk.png");
  background-repeat: no-repeat;
  background-position: 100% 45%;
}

@media only screen and (max-width: 990px) {
  .mainChart {
    margin-top: 200px;
    height: 700px;
  }

  .contForLg9 {
    margin: auto;
  }

  .contForindicators {
    margin: auto;
    width: 90%;
  }

  .contForRegions {
    margin: auto;
    height: auto;
    width: 90%;
    margin-top: 5px;
  }
  
}
