<div class="backgroundImg">
  <div class="default__padding">
    <section class="buttons__cnt">
      <button class="default__big__btn" type="button" [ngClass]="{ active__btn: isValue == 1 }"
        (click)="activeOrNot(1)">{{
        'regional.inRegion' | translate }}</button>
      <button type="button" class="default__big__btn" [ngClass]="{ active__btn: isValue == 2 }"
        (click)="activeOrNot(2)">{{
        'regional.fromRegion' | translate }}</button>
    </section>
    <section class="stats__and__map">

      <div class="stats__cnt">
        <div class="stats__content">
          <img src="assets/c-default-indicators/TourismType.png" alt="location" />
          <p class="stats__title">{{ 'regional.tType' |
            translate }}</p>
        </div>
        <div class="stats__box" *ngIf="isValue == 1">
          <div class="stats__content">
            <input type="radio" id="ttype1" name="tType" [checked]="true" (change)="setTourismType(2)" />
            <label class="fontForCheckboxes" for="ttype1">{{ 'regional.forigners' |
              translate }}</label>
          </div>
          <div class="stats__content">
            <input type="radio" id="ttype2" name="tType" (change)="setTourismType(1)" />
            <label class="fontForCheckboxes" for="ttype2">{{ 'regional.locals' | translate
              }}</label>
          </div>
        </div>
        <div class="stats__content" *ngIf="isValue == 2">
          <label class="fontForCheckboxes" for="ttype2">{{ 'regional.locals' | translate
            }}</label>
        </div>
        <hr>
        <div class="stats__content fontForSelectTitle">
          <img src="assets/c-default-indicators/Calendar.png" alt="" />
          <select class="stats__title year__title"
            style="background: url(assets/c-regional-analysis/Plus.png) no-repeat right transparent;"
            (change)="changeYear()" [(ngModel)]="year">
            <option *ngFor="let data of years" value="{{ data }}">{{ data }}</option>
          </select>
        </div>
        <hr>
        <div class="stats__content">
          <img src="assets/ht-default-indicators/Vector.png" alt="location" />
          <p class="stats__title">{{ 'regional.indicator' |
            translate }}</p>
        </div>
        <section class="stats__box">
          <div class="stats__content">
            <input type="radio" id="0" name="All" value="0" (change)="selDeselCheckBoxesOnRDBClick($event)"
              [checked]="true" />
            <label class="fontForCheckboxes" for="0">{{ 'regional.all' | translate }}</label>
          </div>
          <div class="stats__content">
            <input type="radio" id="1" name="All" value="1" (change)="selDeselCheckBoxesOnRDBClick($event)" />
            <label class="fontForCheckboxes" for="1">{{ 'regional.byGender' | translate
              }}</label>
            <img (click)="detailedGender()" src="assets/c-regional-analysis/Plus.png" alt="" />
          </div>
          <div class="stats__sub__cnt" *ngIf="isGenderDetailed" [(ngModel)]="isGenderDetailed">
            <div class="stats__sub__content stats__content" *ngFor="let gender of genders; let ind = index">
              <input id="{{ gender.name }}" type="checkbox" name="{{ gender.name }}" value="1"
                (change)="checkBoxClic($event)" [(ngModel)]="gender.selected" />
              <label class="fontForCheckboxes" for="{{ gender.name }}">{{ gender.name
                }}</label>
            </div>
          </div>
          <div class="stats__content">
            <input type="radio" id="2" name="All" value="2" (change)="selDeselCheckBoxesOnRDBClick($event)" />
            <label class="fontForCheckboxes" for="2">{{ 'regional.byAge' | translate
              }}</label>
            <img (click)="detailedAge()" src="assets/c-regional-analysis/Plus.png" alt="" />
          </div>
          <div class="stats__sub__cnt" *ngIf="isAgeDetailed" [(ngModel)]="isAgeDetailed">
            <div class="stats__sub__content stats__content" *ngFor="let age of ages; let ind = index">
              <input id="{{ age.name }}" type="checkbox" name="{{ age.name }}" value="2" (change)="checkBoxClic($event)"
                [(ngModel)]="age.selected" />
              <label class="fontForCheckboxes" for="{{ age.name }}">{{ age.name }}</label>
            </div>
          </div>
          <!-- <div class="stats__content">
            <input type="radio" id="3" name="All" value="3" (change)="selDeselCheckBoxesOnRDBClick($event)" />
            <label class="fontForCheckboxes" for="3">{{ 'regional.byStatus' | translate
              }}</label>
            <img (click)="detailedStatus()" src="assets/c-regional-analysis/Plus.png" alt="" />
          </div> -->
          <!-- <div class="stats__sub__cnt" *ngIf="isStatusDetailed" [(ngModel)]="isStatusDetailed">
            <div class="stats__sub__content stats__content" *ngFor="let activity of activityes; let ind = index">
              <input id="{{ activity.name }}" type="checkbox" name="{{ activity.name }}" value="3"
                (change)="checkBoxClic($event)" [(ngModel)]="activity.selected" />
              <label class="fontForCheckboxes" for="{{ activity.name }}">{{ activity.name
                }}</label>
            </div>
          </div> -->
          <div class="stats__box" *ngIf="isValue == 2">
            <div class="stats__content">
              <input type="radio" id="4" name="All" value="4" (change)="selDeselCheckBoxesOnRDBClick($event)" />
              <label class="fontForCheckboxes" for="4">{{ 'regional.byGoal' | translate
                }}</label>
              <img (click)="detailedPurpose()" src="assets/c-regional-analysis/Plus.png" alt="" />
            </div>
            <div class="stats__sub__cnt" *ngIf="isPurposeDetailed" [(ngModel)]="isPurposeDetailed">
              <div class="stats__sub__content stats__content" *ngFor="let goal of goals; let ind = index">
                <input id="{{ goal.name }}" type="checkbox" name="{{ goal.name }}" value="4"
                  (change)="checkBoxClic($event)" [(ngModel)]="goal.selected" />
                <label class="fontForCheckboxes" for="{{ goal.name }}">{{ goal.name
                  }}</label>
              </div>
            </div>
            <div class="stats__content">
              <input type="radio" id="5" name="All" value="5" (change)="selDeselCheckBoxesOnRDBClick($event)" />
              <label class="fontForCheckboxes" for="5">{{ 'regional.byRate' | translate
                }}</label>
              <img (click)="detaledRate()" src="assets/c-regional-analysis/Plus.png" alt="" />
            </div>
            <div class="stats__sub__cnt" *ngIf="isRateDetaled" [(ngModel)]="isRateDetaled">
              <div class="stats__sub__content stats__content" *ngFor="let rate of rates; let ind = index">
                <input id="{{ rate.name }}" type="checkbox" name="{{ rate.name }}" value="5"
                  (change)="checkBoxClic($event)" [(ngModel)]="rate.selected" />
                <label class="fontForCheckboxes" for="{{ rate.name }}">{{ rate.name
                  }}</label>
              </div>
            </div>
            <div class="stats__content">
              <input type="radio" id="6" name="All" value="5" (change)="selDeselCheckBoxesOnRDBClick($event)" />
              <label class="fontForCheckboxes" for="6">{{ 'regional.byActivity' | translate
                }}</label>
              <img (click)="detailedActivity()" src="assets/c-regional-analysis/Plus.png" alt="" />
            </div>
            <div class="stats__sub__cnt" *ngIf="isActivityDetailed" [(ngModel)]="isActivityDetailed">
              <div class="stats__sub__content stats__content" *ngFor="let visit of visits; let ind = index">
                <input id="{{ visit.name }}" type="checkbox" name="{{ visit.name }}" value="6"
                  (change)="checkBoxClic($event)" [(ngModel)]="visit.selected" />
                <label class="fontForCheckboxes" for="{{ visit.name }}">{{ visit.name
                  }}</label>
              </div>
            </div>
            <div class="stats__content">

              <input type="radio" id="7" name="All" value="6" (change)="selDeselCheckBoxesOnRDBClick($event)" />
              <label class="fontForCheckboxes" for="7">{{ 'regional.byTransport' | translate
                }}</label>
              <img (click)="detailedTransport()" src="assets/c-regional-analysis/Plus.png" alt="" />
            </div>
            <div class="stats__sub__cnt" *ngIf="isTransportDetailed" [(ngModel)]="isTransportDetailed">
              <div class="stats__sub__content stats__content" *ngFor="let transport of transports; let ind = index">
                <input id="{{ transport.name }}" type="checkbox" name="{{ transport.name }}" [value]="7"
                  (change)="checkBoxClic($event)" [(ngModel)]="transport.selected" />
                <label class="fontForCheckboxes" for="{{ transport.name }}">{{
                  transport.name }}</label>
              </div>
            </div>
          </div>
        </section>
        <hr />
        <section class="stats__box">
          <div class="stats__content">
            <input type="radio" id="RdbVisits" name="flagRadio" value="Racha-Lechkhumi-Kvemo-Svaneti" [checked]="true"
              (change)="changeFlag('visits')" />
            <label class="fontForCheckboxes" for="RdbVisits">{{ 'regional.quantity' |
              translate }}</label>
          </div>
          <div class="stats__content">
            <input type="radio" id="RdbNights" name="flagRadio" value="Racha-Lechkhumi-Kvemo-Svaneti"
              (change)="changeFlag('nights')" />
            <label class="fontForCheckboxes" for="RdbNights">{{ 'regional.avarigeNights' |
              translate }}</label>
          </div>
        </section>
      </div>
      <div class="map__cnt">
        <h3 class="map__title">{{ mapChartTitle }}
        </h3>
        <div class="map" id="chart1"></div>
        <p class="note">{{ 'note.regional' |
          translate }}</p>
        <p class="note" *ngIf="tourismType == 2">{{ 'note.regional2' |
          translate }}</p>
      </div>
    </section>

    <div class="other__charts__cnt  regional__analysis">
      <div *ngIf="tourismType == 1" class="sub__chart__cnt">
            <h3 class="chart__title">{{ sanqiName }}
            </h3>
          <div class="sub__chart" id="chart22"></div>
      </div>
      <div *ngIf="tourismType == 1" class="sub__chart__cnt">
          <h3 class="chart__title">{{ expenceTitle }}</h3>
          <div class="sub__chart" id="chart2"></div>
      </div>
    </div>
    <div class="col-12" style="height: 70px"></div>
  </div>
</div>


<!--  OLD CODE START-->

<!-- 
<div class="backgroundImg">
  <div class="container-for-header default__padding">
    <div class="row col-12 plpr ">

      <div class="col-lg-3 butPos respMT">
        <button class="not-selected-button" type="button" [ngClass]="{ acti: isValue == 1 }" (click)="activeOrNot(1)">{{ 'regional.inRegion' | translate }}</button>
      </div>


      <div class="col-lg-3 butPos respMT">
        <button type="button" class="not-selected-button" [ngClass]="{ acti: isValue == 2 }" (click)="activeOrNot(2)">{{ 'regional.fromRegion' | translate }}</button>
      </div>


      <div class="col-lg-3 respMT ">
        <div class="col-12 row dateReg">
          <div class="col-2">
            <img style="padding-top: 25px" src="assets/c-default-indicators/Calendar.png" alt=""/>
          </div>
          <div class="col-6 fontForSelectTitle" style="padding-left: 25px; padding-top: 33px">
            <select style="background: url(assets/c-default-indicators/Down.png) no-repeat right transparent; width: 130%;" (change)="changeYear()" [(ngModel)]="year">
              <option *ngFor="let data of years" value="{{ data }}">{{ data }}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-lg-6"></div>
    </div>
    <div class="row col-12 plpr mt-5">
      <div class="col-lg-3">
        <div style="box-sizing: border-box; height: auto; background: #ffffff; border: 0.5px solid #5c4fc9; border-radius: 20px; padding-bottom: 25px;">
          <img src="assets/c-default-indicators/TourismType.png" alt="location" style="padding-top: 30px; padding-left: 30px"/>
          <div class="fontForCheckboxesTitle" style="margin-top: -17px; margin-left: 75px">{{ 'regional.tType' | translate }}</div>

          <div *ngIf="isValue == 1">
            <div style="padding-left: 29px; padding-top: 20px">
              <input type="radio" id="ttype1" name="tType" [checked]="true" (change)="setTourismType(2)"/>
              <label class="fontForCheckboxes" style="padding-left: 12px" for="ttype1">{{ 'regional.forigners' | translate }}</label>
              <br/>
            </div>
  
            <div style="padding-left: 29px; padding-top: 11px">
              <input type="radio" id="ttype2" name="tType" (change)="setTourismType(1)"/>
              <label class="fontForCheckboxes" style="padding-left: 12px" for="ttype2">{{ 'regional.locals' | translate }}</label>
              <br />
            </div>
          </div>

          <div *ngIf="isValue == 2">
            
            <div style="padding-left: 29px; padding-top: 25px; padding-bottom: 25px;">
              <label class="fontForCheckboxes" style="padding-left: 12px" for="ttype2">{{ 'regional.locals' | translate }}</label>
              <br />
            </div>

          </div>
          
        
          <img src="assets/ht-default-indicators/Vector.png" alt="location" style="padding-top: 10px; padding-left: 30px"/>
          <div class="fontForCheckboxesTitle" style="margin-top: -14px; margin-left: 75px">{{ 'regional.indicator' | translate }}</div>

          <div style="padding-left: 29px; padding-top: 20px">
            <input type="radio" id="0" name="All" value="0" (change)="selDeselCheckBoxesOnRDBClick($event)" [checked]="true"/>
            <label class="fontForCheckboxes" style="padding-left: 12px" for="0">{{ 'regional.all' | translate }}</label>
            <br />
          </div>

          <div style="padding-left: 29px; padding-top: 11px">
            <input type="radio" id="1" name="All" value="1" (change)="selDeselCheckBoxesOnRDBClick($event)"/>
            <label class="fontForCheckboxes" style="padding-left: 12px" for="1">{{ 'regional.byGender' | translate }}</label>
            <img (click)="detailedGender()" src="assets/c-regional-analysis/Plus.png" alt="" style="padding-left: 15px"/>
            <br />
            <div *ngIf="isGenderDetailed" [(ngModel)]="isGenderDetailed">
              <div style="padding-left: 30px" *ngFor="let gender of genders; let ind = index" >
                <input id="{{ gender.name }}" type="checkbox" name="{{ gender.name }}" value="1" (change)="checkBoxClic($event)" [(ngModel)]="gender.selected"/>
                <label class="fontForCheckboxes" style="padding-left: 12px" for="{{ gender.name }}">{{ gender.name }}</label>
              </div>
              
            </div>
          </div>
          <div style="padding-left: 29px; padding-top: 11px;" >
            <input type="radio" id="2" name="All" value="2" (change)="selDeselCheckBoxesOnRDBClick($event)"/>
            <label class="fontForCheckboxes" style="padding-left: 12px" for="2">{{ 'regional.byAge' | translate }}</label>
            <img (click)="detailedAge()" src="assets/c-regional-analysis/Plus.png" alt="" style="padding-left: 15px"/>
            <br />
            <div *ngIf="isAgeDetailed" [(ngModel)]="isAgeDetailed">
              <div style="padding-left: 30px" *ngFor="let age of ages; let ind = index">
                <input id="{{ age.name }}" type="checkbox" name="{{ age.name }}" value="2" (change)="checkBoxClic($event)" [(ngModel)]="age.selected"/>
                <label class="fontForCheckboxes" style="padding-left: 12px" for="{{ age.name }}">{{ age.name }}</label>
              </div>
            </div>
          </div>

          <div style="padding-left: 29px; padding-top: 11px" >
            <input type="radio" id="3" name="All" value="3" (change)="selDeselCheckBoxesOnRDBClick($event)"/>
            <label class="fontForCheckboxes" style="padding-left: 12px" for="3">{{ 'regional.byStatus' | translate }}</label>
            <img (click)="detailedStatus()" src="assets/c-regional-analysis/Plus.png" alt="" style="padding-left: 15px"/>
            <br />
            <div *ngIf="isStatusDetailed" [(ngModel)]="isStatusDetailed">
              <div style="padding-left: 30px" *ngFor="let activity of activityes; let ind = index">
                <input id="{{ activity.name }}" type="checkbox" name="{{ activity.name }}" value="3" (change)="checkBoxClic($event)" [(ngModel)]="activity.selected"/>
                <label class="fontForCheckboxes" style="padding-left: 12px" for="{{ activity.name }}">{{ activity.name }}</label>
              </div>
            </div>
          </div>
          <div *ngIf="isValue == 2">
            <div style="padding-left: 29px; padding-top: 11px" >
              <input type="radio" id="4" name="All" value="4" (change)="selDeselCheckBoxesOnRDBClick($event)"/>
              <label class="fontForCheckboxes" style="padding-left: 12px" for="4">{{ 'regional.byGoal' | translate }}</label>
              <img (click)="detailedPurpose()" src="assets/c-regional-analysis/Plus.png" alt="" style="padding-left: 15px"/>
              <br />
              <div *ngIf="isPurposeDetailed" [(ngModel)]="isPurposeDetailed">
                <div style="padding-left: 30px" *ngFor="let goal of goals; let ind = index">
                  <input id="{{ goal.name }}" type="checkbox" name="{{ goal.name }}" value="4" (change)="checkBoxClic($event)"  [(ngModel)]="goal.selected"/>
                  <label class="fontForCheckboxes" style="padding-left: 12px" for="{{ goal.name }}">{{ goal.name }}</label>
                </div>
              </div>
            </div>

            <div style="padding-left: 29px; padding-top: 11px">
              <input type="radio" id="5" name="All" value="5" (change)="selDeselCheckBoxesOnRDBClick($event)"/>
              <label class="fontForCheckboxes" style="padding-left: 12px" for="5">{{ 'regional.byRate' | translate }}</label>
              <img (click)="detaledRate()" src="assets/c-regional-analysis/Plus.png" alt="" style="padding-left: 15px"/>
              <br />
              <div *ngIf="isRateDetaled" [(ngModel)]="isRateDetaled">
                <div style="padding-left: 30px" *ngFor="let rate of rates; let ind = index">
                  <input id="{{ rate.name }}" type="checkbox" name="{{ rate.name }}" value="5" (change)="checkBoxClic($event)" [(ngModel)]="rate.selected"/>
                  <label class="fontForCheckboxes" style="padding-left: 12px" for="{{ rate.name }}">{{ rate.name }}</label>
                </div>                
              </div>
            </div>

            <div style="padding-left: 29px; padding-top: 11px" >
              <input type="radio" id="6" name="All" value="5" (change)="selDeselCheckBoxesOnRDBClick($event)"/>
              <label class="fontForCheckboxes" style="padding-left: 12px" for="6">{{ 'regional.byActivity' | translate }}</label>
              <img (click)="detailedActivity()" src="assets/c-regional-analysis/Plus.png" alt="" style="padding-left: 15px"/>
              <br />
              <div *ngIf="isActivityDetailed" [(ngModel)]="isActivityDetailed">
                <div style="padding-left: 30px" *ngFor="let visit of visits; let ind = index">
                  <input id="{{ visit.name }}" type="checkbox" name="{{ visit.name }}" value="6" (change)="checkBoxClic($event)" [(ngModel)]="visit.selected"/>
                  <label class="fontForCheckboxes" style="padding-left: 12px" for="{{ visit.name }}">{{ visit.name }}</label >
                </div>
              </div>
            </div>
            
            <div style="padding-left: 29px; padding-top: 11px" >
              <input type="radio" id="7" name="All" value="6" (change)="selDeselCheckBoxesOnRDBClick($event)"/>
              <label class="fontForCheckboxes" style="padding-left: 12px" for="7" >{{ 'regional.byTransport' | translate }}</label>
              <img (click)="detailedTransport()" src="assets/c-regional-analysis/Plus.png" alt="" style="padding-left: 15px"/>
              <br />
              <div *ngIf="isTransportDetailed" [(ngModel)]="isTransportDetailed">
                <div style="padding-left: 30px" *ngFor="let transport of transports; let ind = index">
                  <input id="{{ transport.name }}" type="checkbox" name="{{ transport.name }}" [value]="7" (change)="checkBoxClic($event)" [(ngModel)]="transport.selected"/>
                  <label class="fontForCheckboxes" style="padding-left: 12px" for="{{ transport.name }}">{{ transport.name }}</label>
                </div>
              </div>
            </div>
            
          </div>

          <hr style="margin: 0 30px 0 30px; margin-top: 11px; margin-bottom: 11px"/>

          <div style="padding-left: 29px; padding-top: 5px; padding-bottom: 10px;">
            <input type="radio" id="RdbVisits" name="flagRadio" value="Racha-Lechkhumi-Kvemo-Svaneti" [checked]="true" (change)="changeFlag('visits')"/>
            <label class="fontForCheckboxes" style="padding-left: 12px" for="RdbVisits">{{ 'regional.quantity' | translate }}</label>
          </div>


          <div style="padding-left: 29px; padding-top: 11px">
            <input type="radio" id="RdbNights" name="flagRadio" value="Racha-Lechkhumi-Kvemo-Svaneti" (change)="changeFlag('nights')"/>
            <label class="fontForCheckboxes" style="padding-left: 12px" for="RdbNights">{{ 'regional.avarigeNights' | translate }}</label>
            <br />
          </div>

        </div>
      </div>
      <div class="col-lg-9">
        <div class="firstCont">
          <div style="display: flex">
            <div class="text-center font col-11" style="color: #3d3d3e; font-size: 24px; padding-top: 20px; flex: 1; margin-top: 40px;">{{ mapChartTitle }}</div>
            <div class="">
            </div>
          </div>
          <div class="meoreRagac" id="chart1" style="width: 90%; height: 90%; padding-left: 66px; flex: 1"></div>
        </div>
      </div>
    </div>

    <div class="col-12" style="height: 70px"></div>
    <div class="row col-12 plpr">
      <div *ngIf="tourismType == 1" class="col-lg-6">
        <div class="contForBottomTwoChart">
          <div style="display: flex">
            <div class="text-center font col-11 mt-4" style="color: #3d3d3e; font-size: 24px; flex: 1">{{ sanqiName }}</div>
            <div class="">
            </div>
          </div>
          <div class="meoreRagac mt-3" id="chart22" style="width: 90%; height: 80%; padding-left: 66px"></div>
        </div>
      </div>
      <div *ngIf="tourismType == 1" class="col-lg-6">
        <div class="contForBottomTwoChart">
          <div style="display: flex">
            <div class="text-center font col-11 mt-3" style="color: #3d3d3e; font-size: 24px; padding-top: 20px; flex: 1;">{{ expenceTitle }}</div>
            <div class="">
            </div>
          </div>

          <div class="meoreRagac" id="chart2" style="width: 90%; height: 90%; padding-left: 66px"></div>
        </div>
      </div>
    </div>
    <div class="col-12" style="height: 70px"></div>
  </div>
</div> -->