.tableTitle {
  font-family: "FiraGO";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  font-variant: small-caps;
  font-feature-settings: "case" on;
  color: #ffffff;
}
.centerTitles {
  display: table-cell;
  vertical-align: middle;
  position: -webkit-sticky; // this is for all Safari (Desktop & iOS), not for Chrome
  position: sticky;
  top: 0;
  z-index: 1; // any positive value, layer order is global
  background: #fff; // any bg-color to overlap
}

.d::-webkit-scrollbar {
  width: 5px;
}

.d::-webkit-scrollbar-track {
  background-color: transparent;
}

.d::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
  border-radius: 20px;
}

.fontForTableContent {
  font-family: "FiraGO";
  font-style: normal;
  font-weight: 350;
  font-size: 14px;
  line-height: 28px;

  /* or 343% */

  font-variant: small-caps;
  font-feature-settings: "case" on;

  color: #3d3d3e;
}

.contForMapChart {
  width: 100%;
  height: 892px;

  background: #ffffff;
  box-shadow: 0px 4px 50px 5px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
}

.chartForDynamicChart {
  width: 100%;
  height: 415px;

  background: #ffffff;
  box-shadow: 0px 4px 50px 5px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
}

.contForTable {
  width: 100%;
  overflow: auto;
  height: 1115px;
  border-radius: 20px 20px 0px 0px;
}

.chartForDynamicChartt {
  width: 100%;
          height: 652px;

          background: #f3f4fb;
          border-radius: 20px;
}

.inputForCountrySearch {
  font-family: "FiraGO";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  font-variant: small-caps;
  font-feature-settings: "case" on;
  width: 141.5%;
  height: 3em;
  padding: 1%;
  padding-left: 3%;
}

@media only screen and (max-width: 990px) {
  .contForMapChart {
    margin: auto;
    width: 95%;
  }

  .chartForDynamicChart {
    margin: auto;
    width: 95%;
  }

  .contForTable {
    margin: auto;
    width: 95%;
  }

  .chartForDynamicChartt {
    margin: auto;
    width: 95%;
  }
}

