<app-header></app-header>
<div class="color">
<div class="container-for-header">
  <div class="row">
    <div class="col-lg-2 col-md-12 col-sm-12 text-center but">
      <a routerLink="CDefaultIndicators"
        ><p
          routerLinkActive="act-text"
          class="text font"
          routerLinkActive="act-text"
        >
          ძირითადი მაჩვენებლები
        </p></a
      >
    </div>
    <div class="col-lg-2 col-md-12 col-sm-12 text-center but">
      <a routerLink="CCompareIndicators"
        ><p routerLinkActive="act-text" class="text font">
          მაჩვენებლების შედარება
        </p></a
      >
    </div>
    <div class="col-lg-2 col-md-12 col-sm-12 text-center but">
      <a routerLink="CRegionalAnalysis"
        ><p routerLinkActive="act-text" class="text font">
          რეგიონული ანალიზი
        </p></a
      >
    </div>
    <div class="col-lg-2 col-md-12 col-sm-12 text-center but">
      <a routerLink="CSeasonal"
        ><p routerLinkActive="act-text" class="text font">სეზონურობა</p></a
      >
    </div>
    <div class="col-lg-2 w-auto col-md-12 col-sm-12 text-center">
      <a routerLink="CInteractiveMap"
        ><p routerLinkActive="act-text" class="text font">
          ინტერაქტიული რუკა
        </p></a
      >
    </div>
    <div class="col-lg-2 col-md-12 col-sm-12 text-center but">
      <a routerLink="CInfoForUser"
        ><p
          routerLinkActive="act-text"
          class="text font"
          routerLinkActive="act-text"
        >
          საერთაშორისო ვიზიტები
        </p>
      </a>
    </div>
    <div class="col-lg-2 col-md-1 col-sm-12"></div>
  </div>
</div>

</div>
<div><router-outlet></router-outlet></div>
