.text {
  font-size: 16px;
  white-space: nowrap;
  font-family: "FiraGO";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #929497;
  text-align: center;
}

.text:hover {
  color: #000000;
  border-bottom: 5px solid #32a9ff;
  text-align: center;
  padding-bottom: 10px;
}

.act-text {
  color: #000000;
  border-bottom: 5px solid #32a9ff;
  text-align: center;
  padding-bottom: 10px;
}

.but {
  width: auto;
}

.outlet {
  // height: 100%;
  // width: 100%;
  margin-top: 20px;
}
