<app-header></app-header>
<div class="container-for-header">
  <div class="row">
    <div class="col-lg-2 col-md-12 col-sm-12 text-center but">
      <a routerLink="HDefaultIndicators"
        ><p routerLinkActive="act-text" class="text font">
          ძირითადი მაჩვენებლები
        </p></a
      >
    </div>
    <div class="col-lg-2 col-md-12 col-sm-12 text-center but">
      <a routerLink="HInteractiveMap"
        ><p routerLinkActive="act-text" class="text font">
          ინტერაქტიული რუკა
        </p></a
      >
    </div>
    <div class="col-lg-2 col-md-12 col-sm-12 text-center but">
      <a routerLink="HHotelsInGeorgia"
        ><p routerLinkActive="act-text" class="text font">
          სასტუმროები საქართველოში
        </p></a
      >
    </div>
    <div class="col-lg-6"></div>
  </div>
</div>

<div class="outlet">
  <div><router-outlet></router-outlet></div>
</div>
