<div
  class="conteiner info row"
  [style.background-image]="
    'url(../../../assets/background-images/sesonal.png)'
  "
>
  <div
    style="
      height: 80vh;
      padding-top: 100px;
    "
    class="default__padding"
  >
  <div style="display: flex; justify-content: space-between;">
    <a
      routerLink="CTop15Component"
      class="contForSelectBox frame"
      style="width: 15%"
    >
      <p
        routerLinkActive="act-text"
        class="text-center"
        routerLinkActive="act-text"
      >
        {{ 'interVisit.top10' | translate }}
      </p>
    </a>

    <a
      routerLink="CVisitsCountComponent"
      class="contForSelectBox frame"
      style="width: 15%"
    >
      <p
        routerLinkActive="act-text"
        class="text-center"
        routerLinkActive="act-text"
      >
      {{ 'interVisit.visits' | translate }}
      </p>
    </a>

    <a
      routerLink="CBorderTypeComponent"
      class="contForSelectBox frame"
      style="width: 15%"
    >
      <p
        routerLinkActive="act-text"
        class="text-center"
        routerLinkActive="act-text"
      >
      {{ 'interVisit.borderType' | translate }}
      </p>
    </a>

    <a
      routerLink="CBorderComponent"
      class="contForSelectBox frame"
      style="width: 15%"
    >
      <p
        routerLinkActive="act-text"
        class="text-center"
        routerLinkActive="act-text"
      >
      {{ 'interVisit.border' | translate }}
      </p>
    </a>
  </div>
  </div>
</div>
