
<div class="conteiner info row" [style.background-image]="'url(../../../assets/background-images/sesonal.png)'">
  <div style="display: flex; justify-content: space-around; height: 700px;">

    <a routerLink="CTop15Component" class="contForSelectBox frame" style="width: 15%;">
      <p
        routerLinkActive="act-text"
        class="text-center"
        routerLinkActive="act-text">
        
        ტოპ 10 ქვეყანა
      </p> 
    </a>      



    <a routerLink="CVisitsCountComponent" class="contForSelectBox frame" style="width: 15%;">
      <p
        routerLinkActive="act-text"
        class="text-center"
        routerLinkActive="act-text">
        ვიზიტების რაოდენობა
      </p>
    </a>

    <a routerLink="CBorderTypeComponent" class="contForSelectBox frame" style="width: 15%;">                
      <p
        routerLinkActive="act-text"
        class="text-center"
        routerLinkActive="act-text">
        
        საზღვრის ტიპი
      </p>
    </a>


    <a routerLink="CBorderComponent" class="contForSelectBox frame" style="width: 15%;">                
      <p
        routerLinkActive="act-text"
        class="text-center"
        routerLinkActive="act-text">
        
        საზღვარი
      </p>                      
    </a>
  </div>
  
</div>


