$white: #ffffff;
$light: #f9fbff;
$dark: #3d3d3e;      
$black: #000000;
$gray: #808184;
$lightGray: #929497;
$graycfour: #c4c4c4;
$graysixb: #6B6B6D;
$blue: #2330a4;
$orange: #fda241;
$pink: #ff7eae;
$lightBlue: #32a9ff;
$purple: #5c4fc9;
$lightBtn: #F9F4FB; 
$purpleBtn: #51459F;
$lightPurple: #f2f0ff;
